<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
   {{>navbar}}
    <!-- Main header   -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/neloy.jpg" alt="Neloy" class="img-fluid" title="Neloy Paul">
                        </figure>
  
                      </div>
                      <!-- Right side div -->
  
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather App</p>
                        <h1>My name is<span style="color: var(--main-color)"> Neloy Paul</span>.I am an MCA student of VIT Bhopal University.I am passionate about Full Stack Development.This Weather App is developed by me.i have used technologies like HTML,CSS,Bootstrap,Nodejs & Expressjs.</h1>
                        <a href="/about" target="_neloy"><button>About me</button></a>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
   {{>footer}}
</body>

</html>